.notfound-block {
  display: flex;
  order: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 500px;
  padding: 10px;
  margin: auto;
  font-size: 2em;
  text-align: center;
}

.notfound-img {
  margin-top: 100px;
  width: 500px;
}
