
.example-card {
  background: linear-gradient(180deg, #FDFBFB -10%, rgba(255, 255, 255, 0) 150%), #FFC3C1;
  max-width: 300px;
  margin: 10px;
}

.img {
  border-radius: 15px;
  background-size: cover;
  //opacity: 0.6;
}

.preview-text {
  font-size: 14px;
  //white-space: nowrap;
  overflow: hidden;
  //text-overflow: ellipsis;
  //min-width: 0;
}

