<div *ngIf="section$ | async as section; else loadingSection">
  <div class="section">
    <div class="header">
      <h2>{{ section.title }}</h2>
      <div class="btn-wrapper">
        <button mat-button class="btn" routerLink="/">На главную</button>
      </div>
    </div>
    <div>
      <quill-view-html [content]="section.text"></quill-view-html>
    </div>
  </div>
</div>

<ng-template #loadingSection>
  <mat-progress-bar mode="indeterminate" class="loader"></mat-progress-bar>
</ng-template>
