.img {
  border-radius: 15px;
  //opacity: 0.6;
}

.post {

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    margin-bottom: .5rem;
  }

  .info {
    strong {
      margin-right: 1rem;
    }
  }
  background-color: #FFFFFF;
  margin: 0px 20px 10px 20px;
  padding-top: 64px;

}
